
* {
  background-color: #212121;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link,
a:visited
{
  font-size:16px;
  color: #ff994f;
}
a:hover
{
  font-size:16px;
  color: #ff994f;
}
